h1 {
  font-family: "Varela Round";
  font-size: 55px;
  padding-top: 68px;
  padding-bottom: 65px;
  color: #00B3B4;
}

.col-xl-4 {
  float: left;
}

#epicodus {
  width: 360px;
  padding: 20px;
}

img {
  float: right;
  width: 30%;
}

select {
  float: right;
}

#match, #ruby, #java, #php, #csharp, .or {
  display: none;
}

#match {
  padding-top: 30px;
}

.track {
background-size: 100%;
background-position: center;
width: 400px;
display: block;
margin: auto;
}

#ruby {
  background-image: url("../img/ruby.jpg");
}

#java {
  background-image: url("../img/java.jpg");
}

#php {
  background-image: url("../img/php.jpg");
}

#csharp {
  background-image: url("../img/csharp.jpg");
}

#design {
  background-image: url("../img/design.png");
}

h2 {
  font-family: "Varela Round";
  font-size: 40px;
  text-align: center;
}

p {
  font-family: "Varela Round";
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  padding-bottom: 180px;
  color: black;
  text-shadow: white 1px 1px;
}

button {
  font-family: "Varela Round";
  width: 100%;
  font-size: 30px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #00B3B4;
  color: white;
}
